%legend
  Магазины

  %a.btn{href: new_admin_shop_path, style: 'float: right'} Добавить


%table.table.table-striped
  %thead
    %tr
      %td Название
      %td Телефон
      %td Адрес
      %td
        = '...'

  %tbody
    - @shops.each do |shop|
      %tr
        %td
          = shop.name
        %td
          = shop.phone
        %td
          = shop.address

        %td
          = link_to 'редактировать', edit_admin_shop_path(shop)
          = link_to 'удалить', admin_shop_path(shop), method: :delete, confirm: 'Удалить магазин?'