.title Новости и акции

.articles
  - @articles.each do |article|
    .article.clearfix{id: "article-#{article.id.to_s}"}

      = image_tag article.image_url(:thumb), float: :left
      %h1
        = article.title
        %small
          = article.created_at.strftime('%d.%m.%Y')

      = article.content.html_safe



      -# .top.clearfix
        .image
          = image_tag article.image_url(:thumb)
        .right
          -#.date
            = article.created_at.strftime('%d.%m.%Y')
          .title
            = article.title
            -#= link_to article.title, article_path(article)

      -#  .content
          = article.content.html_safe

        -#= link_to 'Читать далее', article_path(article), class: 'read-more'