.breadcrumbs
  = link_to 'Новости и акции', articles_path
  = ' / '
  = @article.title

.title{style: 'margin-top: 0px; height: auto; margin-bottom: 20px'}
  = @article.title


.text
  %p
    = @article.content.html_safe