.title Вакансии сети магазинов «Туфлеград»

.vacancies.clearfix

  - @vacancies.each do |vacancy|

    .vacancy
      .name
        = vacancy.name
      .salary
        Заработная плата:
        .value
          от
          = vacancy.salary_min.to_s
          до
          = vacancy.salary_max.to_s
          рублей

      .more
        График работы:
        %strong
          = vacancy.schedule
        %br
        Опыт работы:
        %strong
          = vacancy.experience

      %a{href: '#'}
      = link_to 'Читать полное описание вакансии', vacancy_path(vacancy)