.modal-overlay
.modal
  .name Спасибо за отклик
  .content
    Наш менеджер по персоналу свяжется с вами в ближайшее время.

.breadcrumbs
  = link_to 'Вакансии', vacancies_path
  = ' / '
  Просмотр вакансии

.title{style: 'margin-top: 0px; height: auto; margin-bottom: 20px'}
  Вакансия
  = "«#{@vacancy.name}»"
  в сеть магазинов «Туфлеград»

.vacancy-bar
  .bullet
    Уровень зарплаты:
    .value
      от
      = @vacancy.salary_min
      до
      = @vacancy.salary_max
      рублей

  .bullet
    Требуемый опыт работы:
    .value
      = @vacancy.experience

  .bullet
    График работы:
    .value
      = @vacancy.schedule


.vacancy-content.clearfix
  .about
    .name Описание вакансии
    .text
      %p
        = @vacancy.description.gsub("\n", "<br />").html_safe

  .right
    .form-block
      .form-offer
        Оставьте ваши имя и телефон
        в форме ниже и наш менеджер
        по персоналу свяжется с вами
        на следующий день

      .form
        %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
        %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
        .button.submit-vacancy{vacancy_id: @vacancy.id.to_s} Откликнуться на вакансию



    .phone-block
      Или позвоните по номеру:
      .value
        = @vacancy.phone


    .phone-block
      Или отправьте ваше резюме на почту:
      .value
        = @vacancy.email