.topbar.clearfix
  .logo
    %a{href: root_path}
      = image_tag 'logo.png'

  .ok
    %a{href: 'http://www.odnoklassniki.ru/group/52035652419737', target: '_blank'}
      = image_tag 'ok.png'

  .vk
    %a{href: 'http://vk.com/public78083745', target: '_blank'}
      = image_tag 'vk.png'

  %a.adresses-and-phones.show-shops{href: '/#shops'}
    Адреса и телефоны магазинов



.navbar
  %ul.nav
    %li
      %a.active{href: '#'} Главная страница


    %li
      = link_to 'Новости и акции', articles_path

    %li
      = link_to 'Вакансии', vacancies_path

    %li
      = link_to 'Отзывы', comments_path