!!! 5
%html
  %head
    = csrf_meta_tags
    %meta{name: :description, content: 'Магазин обуви и сумок Туфлеград'}
    %meta{name: :keywords, content: "обувь ухта, магазин обуви ухта, обувной магазин ухта, купить обувь ухта, сумки ухта, туфлеград, ухта, обувь, сумки, ухта, детская обувь ухта"}
    %meta{name: 'yandex-verification', content: '488476c60f004499'}
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'http://api-maps.yandex.ru/2.1/?lang=ru_RU'
    = javascript_include_tag 'application'


    -#= set_meta_tags site: 'My Site'
    %title
      Туфлеград

  %body
    .wrapper
      = render partial: 'layouts/topbar'
      = yield
      #footer
        .line
        .footer-content
          ООО «Туфлеград»
          %br
          2003 - 2014
          %br
          Все права защищены

    = render partial: 'layouts/metrika'

